
 <div class="modal fade" id="showTaskModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assigned Tasks</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Task Name</th>
                <th scope="col">Task Description</th>
                <th scope="col">Task Status</th>
              </tr>
            </thead>
            <tbody id="tasks_body"> 
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>